ESP32/SECRETS.h
# PlatformIO build files
.pio/
.vscode/

#src and include folders
./src 
./include

# Libraries installed by PlatformIO
.libdeps/

# Other unnecessary files
*.elf
*.bin
*.map
*.hex

# IDE-specific files
*.DS_Store
Thumbs.db